<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      
        <header>
          <nav><a href="{{ site.baseurl }}/faq/">faq</a><a href="{{ site.baseurl }}/#forthcoming">bites</a><a href="mailto:d.kinkead@uq.edu.au?subject=The Daily Dialectic - I want to be a part of it!">contact</a></nav>
  
          <section id="splash">
            <div class="content">
              <h1><a href="{{ site.baseurl }}/">Daily Dialectic</a></h1>
              <h2>"{{ page.title }}"</h2>
              <h4>{{ page.author }}, {{ page.affiliation }}</h4>
              <p>{{ page.date | date_to_long_string }}</p>
            </div>
          </section>
        
        </header>
      
      <section class="content post">
      
        {{ content }}
        
      </section>

      {% include footer.html %}
      
    </body>
</html>