<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="home">
      
      {% include header.html %}

      <section id="about">
        <div class="content">
          <p>Join us every Wednesday &amp; Friday at 10:00 am for 15 minutes of <span class="abbr" title="logos">λόγος</span>, <span class="abbr" title="aporia">ἀπορία</span>, and <span class="abbr" title="coffee">καφέ</span></p>
          <p>Level 5 foyer, <a href="http://goo.gl/ByblnH">Michie Building</a>, University of Queensland.</p>
        </div>
      </section>

      {% include forthcoming.html %}

      {% include previous.html %}

      {% include footer.html %}
      
    </body>
</html>